:root {
  --background: #c47ed9;
  --background-grad: #834396;
  --accent: #302633;
  --text: #000;
  --accent-text: #949296;
  --alert: red;
  --alert-background: #ff3838b0;
}

* {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  background: #00000000;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

body {
  background: var(--background);
  background-image: linear-gradient(to top right, var(--background), var(--background-grad));
  height: 100vh;
  overflow: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes alertFromLeft {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutLeft {
  0% {
    transform: translateX(0);
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

#login-bars {
  display: flex;
  align-content: space-around;
  flex-direction: column;
}

#log-out {
  border-radius: 0 1rem 1rem 0;
  margin-right: 90%;
  border-left: none;
  color: var(--accent-text);
}

.hide-left {
  animation: fadeOutLeft 1s ease-out 1s 1;
  animation-fill-mode: forwards;
}

/* .hide-left button, input {
  display: none;
} */

.left-bar { /*Intended to specify margin-right elsewhere.*/
  animation: 1s ease-out 0s 1 slideInFromLeft;
  animation-fill-mode: forwards;
  background: var(--accent);
  margin-top: 10vh;
  padding: 1rem 2rem 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  border: 2px solid var(--text);
  border-left: none;
}

.left-bar h1 {
  font-size: 2em;
  font-family: "Luminari", fantasy;
}

.left-bar input {
  text-align: center;
  border-bottom: 1px solid var(--accent-text);
}

.simple-button {
  border: 2px solid var(--accent-text);
  color: var(--accent-text);
  border-radius: 4px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin-right: 2rem;
  outline: none;
}

.checked {
  color: var(--text);
  background: var(--accent-text);
}

#alert-box {
  animation: 1s ease-out 0s 1 alertFromLeft;
  flex-shrink: 2;
  text-align: left;
  color: var(--text);
  background: var(--alert-background);
  border-left: 8px solid var(--alert);
  align-items: center;
  padding: 0.3rem 0.5rem 0 0.5rem;
  margin-right: 2rem;
}

#alert-box:empty {
  display: none;
}
